* {
    box-sizing: border-box;
}
 
body {
   	font-family: Arial;
   	padding: 10px;
   	background: #d2d2d2;
}

.header {
	text-align: center;
}

.header h1 {
 	font-size: 45px;
 	height: 80px;
 	line-height: 80px;
}

.content {
	display: flex;
	justify-content: space-around;
}

.leftNav {
	width: 23%;
	background-color: #dddddd;
}

.centerContent {
	width: 50%;
	background-color: #dddddd;
}

.rightNav {
	width: 23%;
	background-color: #dddddd;
}

.title {
	font-size: 20px;
	font-weight: bold;
}
